[Unit]
Description=dnscrypt-proxy listening socket

[Socket]
ListenStream=127.0.0.1:5353
ListenDatagram=127.0.0.1:5353

[Install]
WantedBy=sockets.target
